---
const {title, text, imgIndex} = Astro.props


const images = [
  { src: 'assets/3-corazones.png', alt: 'As de corazones' },
  { src: 'assets/2-trebol.png', alt: 'As de diamantes' },
  { src: 'assets/9-pica.png', alt: 'As de trébol' },
  { src: 'assets/10-corazones.png', alt: 'As de picas' }
];
---


<div>
<h2 class="card-title">{title}</h2>
<p>{text}</p>
<img src={images[imgIndex].src} alt={images[imgIndex].alt} />
</div>