---
import Cards from "../components/cards/Cards.astro"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/styles/global.css" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>As Naipes</h1>
		<div class="cards-container">
			<Cards title="Tres de corazones" text="" imgIndex="0"/>
			<Cards title="Dos de diamantes" text="" imgIndex="1"/>
			<Cards title="Nueve de diamantes" text="" imgIndex="2"/>
			<Cards title="Diez de corazones" text="" imgIndex="3"/>
		</div>
	</body>
</html>

